include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include requirements.txt
include config/operations.json
recursive-include cli *.py
recursive-include core *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude .DS_Store
